body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #5F259E; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.help-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: 0;
  padding: 30px;
  background-color: #4285f4; 
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #28387c;
  }
}


.drawer-container {
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
  background-color: #ffffff; /* Light background */
  color: #333333; /* Dark text for contrast */
  border-radius: 8px; /* Slightly rounded corners for a softer look */
}

.flex-container {
  display: flex;
  height: 200px;
  overflow-x: auto;
  gap: 16px;
  justify-content: space-around;
}

.flex-item {
  flex: 0 0 auto;
  width: 250px;
  border: 1px solid #ccc;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 0 16px;
  border: 1px solid #e0e0e0; /* Light border for separation */
}

.flex-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.drawer-title {
  margin-bottom: 16px;
}

.drawer-container .minimize-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1000;
}

.drawer-container .drawer-title{
  text-align: center;
  font-size: 40px;
}


.drawer-title, .flex-item {
  font-family: 'Roboto', sans-serif; /* A modern, readable font */
  font-size: 16px; /* Adjust size as needed */
  line-height: 1.5; /* Improve readability */
 }
 
 .button-container button {
  background-color: #4285f4; /* Vibrant blue */
  color: white; /* White text for contrast */
  border: none;
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease;
 }
 
 .button-container button:hover {
  background-color: #28387c; /* Darker blue on hover */
 }
 
 /* app.css */

.help-button {
  background-color: white;
  color: #5F259E;
}

.help-button:hover,
.help-button:focus {
  background-color: lightgray;
  color: lightgray; /* Ensure the icon color remains unchanged on hover */
}

/* .MuiPopover-paper {
  background-color: #5F259E;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
} */

.drawer-container {
  padding: 16px;
  background-color: #5F259E;
}

.drawer-title {
  margin-bottom: 16px;
  color: #FFFFFF;
}

.flex-container {

  gap: 16px;
}

.flex-item {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

 




